h1 {
  font-size: 70px;
}

h2 {
  font-size: 25px;
  letter-spacing: 0.6em;
  text-align: center;
  margin-left: 17px;
  text-transform: uppercase;
}

h3 {
  font-size: 25px;
  letter-spacing: 0.3em;
  text-align: center;
  margin-bottom: 20px;
}
h3:first-letter {
  text-transform: capitalize;
}

.search-bar {
  padding: 25px 30px 30px 30px;
  background-color: transparent;
  border: none;
}

h1,
h2,
h3,
p {
  text-align: center;
  color: #113f67;
}

button {
  display: inline-block;
  padding: 10px;
  border: 1px #113f67;
  background-color: transparent;
  border-radius: 10px;
  text-decoration: underline;
  color: #113f67;
  max-width: 190px;
  transition: all 250ms ease-in-out;
}
button:hover {
  background-color: transparent;
  color: #e4f1fe;
}

input {
  border: none;
  border-radius: 10px;
  background-color: #5e87b8;
  padding: 10px;
  text-align: center;
  color: #e4f1fe;
}

#go {
  border-radius: 10px;
}

::placeholder {
  color: whitesmoke;
}

.humidityWind {
  color: #113f67;
}

.card {
  background: linear-gradient(
    67.6deg,
    rgb(225, 242, 254) -2.8%,
    rgb(193, 224, 250) 44.6%,
    rgb(19, 116, 197) 102.4%
  );
  border-radius: 40px;
  border: none;
}

.container {
  display: block;
  text-align: center;
  max-width: 700px;
  margin: 20px auto;
  padding: 30px auto;
  font-family: "Roboto Condensed", sans-serif;
}

.col {
  text-align: center;
  padding: 2px;
}

.rain {
  font-size: 33px;
}

.cloudy {
  font-size: 30px;
}

.smog {
  font-size: 33px;
}

.sunny {
  font-size: 33px;
}

.weekly {
  margin: 20px 20px;
  color: #113f67;
}
.open-source {
  display: block;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
